.timeline-buttons-holder {
  display: none;
  @include media-breakpoint-up(md) {
    display: block;
    position: fixed;
    z-index: 9999;
    top: 0px;
    right: 0px;
    left: 0;
    width: 100%;
    background-color: #f0f1f5;
    .timeline-buttons-holder-inner {
      padding: 10px;
      max-width: 1370px;
      box-sizing: border-box;
      margin: 0 auto;
      .timeline-print-btn {
        display: block;
        float: right;
        max-width: 190px;
        border-radius: 5px;
        padding: 10px 20px;
        background-color: #172244;
        &:hover {
          background-color: #4f77c6;
        }
        color: white !important;
        text-decoration: none;
        font-size: 20px;
      }
    }
  }
}

@media print {
  .timeline-buttons-holder {
    display: none !important;
    visibility: hidden !important;
  }
}
