.timeline-buttons-holder {
    display: none;
    @include media-breakpoint-up(md) {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        padding: 20px;
        .timeline-print-btn {
            max-width: 190px;
            border-radius: 5px;
            padding: 10px 20px;

            background-color: #172244;
            &:hover {
                background-color: #4f77c6;
            }

            color: white !important;
            text-decoration: none;
            font-size: 20px;
        }
    }
}
